@{
    ViewData["Title"] = "houseHotel";
}

<section class = "bg-nero min-h-[640px] mx-auto px-3 flex items-center py-16">
    <div class="container max-w-[1200px] mx-auto grid md:grid-cols-2 gap-14">
        <div class = "flex flex-col justify-center items-start">
            <h3 class = "text-teal font-normal opacity-70 tracking-[.25em] font-barlow-cond text-xl sm:text-[22px] uppercase">welcome to</h3>
            <h1 class = "font-gilda text-2xl sm:text-[38px] tracking-[.04em] font-normal py-3 text-white mb-3">House Hotel</h1>
            <p class = "opacity-60 font-light font-barlow text-justify text-base sm:text-lg text-platinum">The House Hotel is a charming establishment located in the heart of Morocco, offering a peaceful and welcoming atmosphere. Ideal for travelers looking for comfort and authenticity, this hotel combines modern design with traditional Moroccan touches.</p>
            <a href = "#" class = "bg-teal-dark font-barlow px-4 min-w-[158px] min-h-[48px] inline-flex items-center justify-center uppercase text-white transition duration-300 ease-in-out hover:bg-teal mt-8 tracking-widest">know more</a>
        </div>

        <div class = "welcome-slider overflow-hidden">
            <div class = "h-[425px]">
                <img class = "w-full h-full object-cover" src = "~/welcome-img-3.png" alt = "welcome image">
            </div>
            <div class = "h-[425px]">
                <img class = "w-full h-full object-cover" src = "~/welcome-img-2.png" alt = "welcome image">
            </div>
            <div class = "h-[425px]">
                <img class = "w-full h-full object-cover" src = "~/welcome-img-1.png" alt = "welcome image">
            </div>
        </div>
    </div>
</section>

<section class = "min-h-[600px] py-16 flex flex-col items-center justify-center bg-banner-image bg-center bg-cover bg-fixed bg-no-repeat px-3">
    <div class = "container max-w-[1200px] mx-auto text-white text-center">
        <h2 class = "font-gilda font-normal text-2xl sm:text-[38px] tracking-[.04em] mb-3">Relax at the bedrooms with Comfy Couches.</h2>
        <div class="flex items-center justify-center">
            <img src = "~/decorated-pattern.svg" alt = "">
        </div>
        <p class="mt-9 tracking-[.04em] text-lg sm:text-2xl font-barlow font-light max-w-[600px] mx-auto leading-7 sm:leading-9">Everything for an active vacation and luxury experience lover.</p>
        <a href = "#" class = "bg-teal-dark font-barlow px-4 min-w-[158px] min-h-[48px] inline-flex items-center justify-center uppercase text-white transition duration-300 ease-in-out hover:bg-teal mt-8 tracking-widest">explore now</a>
    </div>
</section>

<section class = "py-16 px-3">
    <div class="container max-w-[1200px] mx-auto">
        <h2 class = "font-gilda font-normal text-3xl sm:text-[46px] tracking-[.04em] text-teal text-center mb-3">Rooms & Suites</h2>
        <div class="flex items-center justify-center ">
            <img src = "~/decorated-pattern-2.svg" alt = "">
        </div>
        <div class = "grid gap-10 md:grid-cols-2 py-10">
            <p class = "text-black opacity-60 font-light text-base sm:text-lg font-barlow first-letter:text-4xl first-letter:font-bold first-letter:tracking-[.03em]">Rooms at House Hotel in Morocco are designed to offer guests a perfect blend of comfort, elegance, and traditional Moroccan charm. Each room is thoughtfully decorated with intricate patterns, vibrant textiles, and handcrafted furniture, reflecting the rich cultural heritage of Morocco.</p>

            <ul class = "bg-teal-dark py-5 sm:py-9 px-7">
                <li class = "grid items-center grid-cols-[32px_auto] my-1">
                    <img src = "~/hotel.svg" alt = "">
                    <span class = "text-white font-barlow text-base font-light">The best prices for your relaxing vacation.</span>
                </li>
                <li class = "grid items-center grid-cols-[32px_auto] my-1">
                    <img src = "~/hotel.svg" alt = "">
                    <span class = "text-white font-barlow text-base font-light">Ultimate place to spend time with you loved ones.</span>
                </li>
                <li class = "grid items-center grid-cols-[32px_auto] my-1">
                    <img src = "~/hotel.svg" alt = "">
                    <span class = "text-white font-barlow text-base font-light">Cool place to have entertaining time. </span>
                </li>
            </ul>
        </div>

        <div class = "grid sm:grid-cols-2 lg:grid-cols-3 gap-[4px]">
            <a href = "#" class = "object-cover relative after:absolute after:content-[''] after:top-0 after:left-0 after:w-full after:h-full after:bg-gradient-to-b from-black/25 to-black/75 hover:before  before:absolute before:content-[''] before:top-3 before:left-3 before:right-3 before:bottom-3 before:border-white before:border-2 before:border-solid before:z-10 before:opacity-0 hover:before:opacity-100 before:transition before:duration-300 before:ease-in-out">
                <img src = "~/room-1.png" class = "w-full h-full object-cover" alt = "">
                <div class = "absolute bottom-0 left-2/4 -translate-x-2/4 text-white font-medium uppercase text-xl md:text-2xl font-barlow z-10 px-4 mb-14 text-center w-full tracking-widest">Stay Room</div>
            </a>

            <a href = "#" class = "object-cover relative after:absolute after:content-[''] after:top-0 after:left-0 after:w-full after:h-full after:bg-gradient-to-b from-black/25 to-black/75 hover:before  before:absolute before:content-[''] before:top-3 before:left-3 before:right-3 before:bottom-3 before:border-white before:border-2 before:border-solid before:z-10 before:opacity-0 hover:before:opacity-100 before:transition before:duration-300 before:ease-in-out">
                <img src = "~/room-2.png" class = "w-full h-full object-cover" alt = "">
                <div class = "absolute bottom-0 left-2/4 -translate-x-2/4 text-white font-medium uppercase text-xl md:text-2xl font-barlow z-10 px-4 mb-14 text-center w-full tracking-widest">conference/meeting hall</div>
            </a>

            <a href = "#" class = "object-cover relative after:absolute after:content-[''] after:top-0 after:left-0 after:w-full after:h-full after:bg-gradient-to-b from-black/25 to-black/75 hover:before  before:absolute before:content-[''] before:top-3 before:left-3 before:right-3 before:bottom-3 before:border-white before:border-2 before:border-solid before:z-10 before:opacity-0 hover:before:opacity-100 before:transition before:duration-300 before:ease-in-out">
                <img src = "~/room-3.png" class = "w-full h-full object-cover" alt = "">
                <div class = "absolute bottom-0 left-2/4 -translate-x-2/4 text-white font-medium uppercase text-xl md:text-2xl font-barlow z-10 px-4 mb-14 text-center w-full tracking-widest">Suite</div>
            </a>
        </div>
    </div>
</section>

<section class="py-16 px-3 bg-nero bg-center bg-cover bg-no-repeat">
    <div class="container max-w-[1200px] mx-auto">
        <h2 class="font-gilda font-normal text-3xl sm:text-[46px] tracking-[.04em] text-center text-teal mb-3">House Hotel Booking Form</h2>
        <div class="flex items-center justify-center">
            <img src="~/decorated-pattern.svg" alt="">
        </div>

        <form class="my-16 max-w-[824px] mx-auto" method="post" asp-action="Create">
            <div class="my-3">
                <input type="text" class="outline-none py-4 px-5 bg-transparent caret-white text-white text-lg tracking-[.04em] font-light font-barlow placeholder:text-white border-white border-solid border-b-[1px] w-full" placeholder="Full Name">
                <span  class="text-red-500"></span>
            </div>

            <div class="grid md:grid-cols-2 md:my-3 md:gap-x-10">
                <input type="text" class="outline-none py-4 px-5 bg-transparent caret-white text-white text-lg tracking-[.04em] font-light font-barlow placeholder:text-white border-white border-solid border-b-[1px] w-full my-3" placeholder="Phone Number">
                <input class="outline-none py-4 px-5 bg-transparent caret-white text-white text-lg tracking-[.04em] font-light font-barlow placeholder:text-white border-white border-solid border-b-[1px] w-full my-3" placeholder="Email Address">
            </div>

            <div class="grid md:grid-cols-2 md:my-3 md:gap-x-10">
                <input type="number" class="outline-none py-4 px-5 bg-transparent caret-white text-white text-lg tracking-[.04em] font-light font-barlow placeholder:text-white border-white border-solid border-b-[1px] w-full my-3" placeholder="Days">
                <input class="outline-none py-4 px-5 bg-transparent caret-white text-white text-lg tracking-[.04em] font-light font-barlow placeholder:text-white border-white border-solid border-b-[1px] w-full my-3" placeholder="No. of Adult">
            </div>

            <div class="flex items-center justify-center">
                <button type="submit" class="bg-teal-dark font-barlow px-4 min-w-[158px] min-h-[48px] inline-flex items-center justify-center uppercase text-white transition duration-300 ease-in-out hover:bg-teal hover:text-white mt-8 tracking-widest">Book now</button>
            </div>
        </form>
    </div>
</section>


<section class = "py-16 px-3 bg-white">
    <div class="container max-w-[1200px] mx-auto">
        <h2 class = "font-gilda font-normal text-3xl sm:text-[46px] tracking-[.04em] text-teal text-center mb-3">Events</h2>
        <div class="flex items-center justify-center">
            <img src = "~/decorated-pattern-2.svg" alt = "">
        </div>

        <div class = 'grid gap-2 md:grid-cols-2 lg:grid-cols-3 mt-10'>
            <div class = "min-h-[323px] relative">
                <img src = "~/events-1.png" class = "w-full h-full object-cover">
                <div class = 'text-white absolute bottom-2 left-2 right-2 bg-black/50 p-5'>
                    <div class = "w-[70px] h-[70px] bg-teal-dark rounded-full flex items-center justify-center flex-col uppercase font-mont text-sm absolute top-0 right-3 -translate-y-[50%]">
                        <span class = "font-bold tracking-widest text-xl inline-block">03</span>
                        <span class = "tracking-widest inline-block -mt-[3px]">apr</span>
                    </div>
                    <h3 class = "font-gilda text-xl tracking-[.04em] uppercase">decade nights</h3>
                    <p class = "font-normal tracking-[.04em] font-barlow text-lg">Saturday Music Fest - <span class = "font-light">09:00 PM</span></p>
                </div>
            </div>

            <div class = "min-h-[323px] relative">
                <img src = "~/events-2.png" class = "w-full h-full object-cover">
                <div class = 'text-white absolute bottom-2 left-2 right-2 bg-black/50 p-5'>
                    <div class = "w-[70px] h-[70px] bg-teal-dark rounded-full flex items-center justify-center flex-col uppercase font-mont text-sm absolute top-0 right-3 -translate-y-[50%]">
                        <span class = "font-bold tracking-widest text-xl inline-block">06</span>
                        <span class = "tracking-widest inline-block -mt-[3px]">may</span>
                    </div>
                    <h3 class = "font-gilda text-xl tracking-[.04em] uppercase">show dinner</h3>
                    <p class = "font-normal tracking-[.04em] font-barlow text-lg">Special show Dinner - <span class = "font-light">08:00 PM</span></p>
                </div>
            </div>

            <div class = "min-h-[323px] relative">
                <img src = "~/events-3.png" class = "w-full h-full object-cover">
                <div class = 'text-white absolute bottom-2 left-2 right-2 bg-black/50 p-5'>
                    <div class = "w-[70px] h-[70px] bg-teal-dark rounded-full flex items-center justify-center flex-col uppercase font-mont text-sm absolute top-0 right-3 -translate-y-[50%]">
                        <span class = "font-bold tracking-widest text-xl inline-block">10</span>
                        <span class = "tracking-widest inline-block -mt-[3px]">jun</span>
                    </div>
                    <h3 class = "font-gilda text-xl tracking-[.04em] uppercase">love is in the air</h3>
                    <p class = "font-normal tracking-[.04em] font-barlow text-lg">Romantic Couple Vibes - <span class = "font-light">06:00 PM</span></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class = "py-16 px-3 bg-light-gray">
    <div class = "container max-w-[1200px] mx-auto">
        <h2 class = "font-gilda font-normal text-3xl text-[46px] tracking-[.04em] text-teal text-center mb-3">Gallery</h2>
        <div class="flex items-center justify-center">
            <img src = "~/decorated-pattern-2.svg" alt = "">
        </div>
        <div class = "grid gap-3 sm:grid-cols-2 md:grid-cols-3 mt-10">
            <div class = "group min-h-[260px] relative after:absolute after:content-[''] after:left-0 after:top-0 after:w-full after:h-full after:bg-gradient-to-t after:from-black/75 after:to-black/5 after:opacity-0 hover:after:opacity-100 after:transition after:duration-300 after:ease-in-out overflow-hidden">
                <img src = "~/gallery-1.png" class = "w-full h-full object-cover" alt = "">
                <div class = "bg-teal-dark text-white py-2 px-4 flex items-center justify-between absolute bottom-3 left-0 z-10 -translate-x-full group-hover:translate-x-0 transition duration-300 ease-in-out w-4/5">
                    <span class = "font-barlow text-lg font-normal">Vip Sleeping Room</span>
                    <ul class = "flex items-center">
                        <li class = "text-sm"><i class = "fas fa-star"></i></li>
                        <li class = "text-sm ms-1"><i class = "fas fa-star"></i></li>
                        <li class = "text-sm ms-1"><i class = "fas fa-star"></i></li>
                        <li class = "text-sm ms-1"><i class = "fas fa-star"></i></li>
                    </ul>
                </div>
            </div>

            <div class = "group min-h-[260px] relative after:absolute after:content-[''] after:left-0 after:top-0 after:w-full after:h-full after:bg-gradient-to-t after:from-black/75 after:to-black/5 after:opacity-0 hover:after:opacity-100 after:transition after:duration-300 after:ease-in-out overflow-hidden">
                <img src = "~/gallery-2.png" class = "w-full h-full object-cover" alt = "">
                <div class = "bg-teal-dark text-white py-2 px-4 flex items-center justify-between absolute bottom-3 left-0 z-10 -translate-x-full group-hover:translate-x-0 transition duration-300 ease-in-out w-4/5">
                    <span class = "font-barlow text-lg font-normal">Luxury Sleeping Room</span>
                    <ul class = "flex items-center">
                        <li class = "text-sm"><i class = "fas fa-star"></i></li>
                        <li class = "text-sm ms-1"><i class = "fas fa-star"></i></li>
                        <li class = "text-sm ms-1"><i class = "fas fa-star"></i></li>
                        <li class = "text-sm ms-1"><i class = "fas fa-star"></i></li>
                    </ul>
                </div>
            </div>

            <div class = "group min-h-[260px] relative after:absolute after:content-[''] after:left-0 after:top-0 after:w-full after:h-full after:bg-gradient-to-t after:from-black/75 after:to-black/5 after:opacity-0 hover:after:opacity-100 after:transition after:duration-300 after:ease-in-out overflow-hidden">
                <img src = "~/gallery-3.png" class = "w-full h-full object-cover" alt = "">
                <div class = "bg-teal-dark text-white py-2 px-4 flex items-center justify-between absolute bottom-3 left-0 z-10 -translate-x-full group-hover:translate-x-0 transition duration-300 ease-in-out w-4/5">
                    <span class = "font-barlow text-lg font-normal">Standar Sleeping Room</span>
                    <ul class = "flex items-center">
                        <li class = "text-sm"><i class = "fas fa-star"></i></li>
                        <li class = "text-sm ms-1"><i class = "fas fa-star"></i></li>
                        <li class = "text-sm ms-1"><i class = "fas fa-star"></i></li>
                        <li class = "text-sm ms-1"><i class = "fas fa-star"></i></li>
                    </ul>
                </div>
            </div>

            <div class = "group min-h-[260px] relative after:absolute after:content-[''] after:left-0 after:top-0 after:w-full after:h-full after:bg-gradient-to-t after:from-black/75 after:to-black/5 after:opacity-0 hover:after:opacity-100 after:transition after:duration-300 after:ease-in-out overflow-hidden">
                <img src = "~/gallery-4.png" class = "w-full h-full object-cover" alt = "">
                <div class = "bg-teal-dark text-white py-2 px-4 flex items-center justify-between absolute bottom-3 left-0 z-10 -translate-x-full group-hover:translate-x-0 transition duration-300 ease-in-out w-4/5">
                    <span class = "font-barlow text-lg font-normal">Simple Sleeping Room</span>
                    <ul class = "flex items-center">
                        <li class = "text-sm"><i class = "fas fa-star"></i></li>
                        <li class = "text-sm ms-1"><i class = "fas fa-star"></i></li>
                        <li class = "text-sm ms-1"><i class = "fas fa-star"></i></li>
                        <li class = "text-sm ms-1"><i class = "fas fa-star"></i></li>
                    </ul>
                </div>
            </div>

            <div class = "group min-h-[260px] relative after:absolute after:content-[''] after:left-0 after:top-0 after:w-full after:h-full after:bg-gradient-to-t after:from-black/75 after:to-black/5 after:opacity-0 hover:after:opacity-100 after:transition after:duration-300 after:ease-in-out overflow-hidden">
                <img src = "~/gallery-5.png" class = "w-full h-full object-cover" alt = "">
                <div class = "bg-teal-dark text-white py-2 px-4 flex items-center justify-between absolute bottom-3 left-0 z-10 -translate-x-full group-hover:translate-x-0 transition duration-300 ease-in-out w-4/5">
                    <span class = "font-barlow text-lg font-normal">Panoramic view Room</span>
                    <ul class = "flex items-center">
                        <li class = "text-sm"><i class = "fas fa-star"></i></li>
                        <li class = "text-sm ms-1"><i class = "fas fa-star"></i></li>
                        <li class = "text-sm ms-1"><i class = "fas fa-star"></i></li>
                        <li class = "text-sm ms-1"><i class = "fas fa-star"></i></li>
                    </ul>
                </div>
            </div>

            <div class = "group min-h-[260px] relative after:absolute after:content-[''] after:left-0 after:top-0 after:w-full after:h-full after:bg-gradient-to-t after:from-black/75 after:to-black/5 after:opacity-0 hover:after:opacity-100 after:transition after:duration-300 after:ease-in-out overflow-hidden">
                <img src = "~/galery-6.png" class = "w-full h-full object-cover" alt = "">
                <div class = "bg-teal-dark text-white py-2 px-4 flex items-center justify-between absolute bottom-3 left-0 z-10 -translate-x-full group-hover:translate-x-0 transition duration-300 ease-in-out w-4/5">
                    <span class = "font-barlow text-lg font-normal">Familiale Sleeping Room</span>
                    <ul class = "flex items-center">
                        <li class = "text-sm"><i class = "fas fa-star"></i></li>
                        <li class = "text-sm ms-1"><i class = "fas fa-star"></i></li>
                        <li class = "text-sm ms-1"><i class = "fas fa-star"></i></li>
                        <li class = "text-sm ms-1"><i class = "fas fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class = "py-16 px-3 bg-banner-image bg-center bg-cover bg-fixed bg-no-repeat">
    <div class = "container max-w-[1200px] mx-auto">
        <h2 class = "font-gilda font-normal text-3xl sm:text-[46px] tracking-[.04em] text-teal text-center mb-3">Our Services</h2>
        <div class="flex items-center justify-center">
            <img src = "~/decorated-pattern-2.svg" alt = "">
        </div>

        <div class = "grid gap-3 mt-10 sm:grid-cols-2 md:grid-cols-3">
            <div class = "flex text-center flex-col justify-center items-center bg-black/30 p-10 hover:bg-black/50 transition duration-300 ease-in-out">
                <img src = "~/plane.svg" class = "w-[54px]">
                <h4 class = "mt-4 mb-2 text-teal font-gilda text-xl tracking-[.04em] font-normal">Pick Up & Drop</h4>
                <p class = "text-white text-base font-barlow font-light tracking-[.04em]">Voyagez en toute tranquillité avec notre service de transport pratique et fiable.</p>
            </div>

            <div class = "flex text-center flex-col justify-center items-center bg-black/30 p-10 hover:bg-black/50 transition duration-300 ease-in-out">
                <img src = "~/vehicle.svg" class = "w-[54px]">
                <h4 class = "mt-4 mb-2 text-teal font-gilda text-xl tracking-[.04em] font-normal">Parking Space</h4>
                <p class = "text-white text-base font-barlow font-light tracking-[.04em]">Profitez d’un espace de stationnement sécurisé et pratique au sein de notre hôtel.</p>
            </div>

            <div class = "flex text-center flex-col justify-center items-center bg-black/30 p-10 hover:bg-black/50 transition duration-300 ease-in-out">
                <img src = "~/bed.svg" class = "w-[54px]">
                <h4 class = "mt-4 mb-2 text-teal font-gilda text-xl tracking-[.04em] font-normal">Room Service</h4>
                <p class = "text-white text-base font-barlow font-light tracking-[.04em]">Dégustez des plats savoureux et profitez d’un service personnalisé directement dans votre chambre.</p>
            </div>

            <div class = "flex text-center flex-col justify-center items-center bg-black/30 p-10 hover:bg-black/50 transition duration-300 ease-in-out">
                <img src = "~/pool.svg" class = "w-[54px]">
                <h4 class = "mt-4 mb-2 text-teal font-gilda text-xl tracking-[.04em] font-normal">Swimming Pool</h4>
                <p class = "text-white text-base font-barlow font-light tracking-[.04em]">Détendez-vous et rafraîchissez-vous dans notre piscine élégante et accueillante.</p>
            </div>

            <div class = "flex text-center flex-col justify-center items-center bg-black/30 p-10 hover:bg-black/50 transition duration-300 ease-in-out">
                <img src = "~/wifi.svg" class = "w-[54px]">
                <h4 class = "mt-4 mb-2 text-teal font-gilda text-xl tracking-[.04em] font-normal">Fibre Internet</h4>
                <p class = "text-white text-base font-barlow font-light tracking-[.04em]">Restez connecté avec notre Internet haut débit par fibre optique.</p>
            </div>

            <div class = "flex text-center flex-col justify-center items-center bg-black/30 p-10 hover:bg-black/50 transition duration-300 ease-in-out">
                <img src = "~/food.svg" class = "w-[54px]">
                <h4 class = "mt-4 mb-2 text-teal font-gilda text-xl tracking-[.04em] font-normal">Breakfast</h4>
                <p class = "text-white text-base font-barlow font-light tracking-[.04em]">Commencez votre journée avec un petit-déjeuner délicieux et équilibré.</p>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="bg-nero py-16 px-3">
        <div class = "grid max-w-[1200px] mx-auto gap-8 text-center md:grid-cols-2 md:text-start lg:grid-cols-footer">
            <div class = "md:me-2 lg:me-3">
                <a asp-controller="Home" asp-action="Index" class = "text-teal font-gilda font-normal text-2xl tracking-[.04em]">House<span class = "text-white">Hotel.</span></a>
                <p class = "text-white font-light font-barlow text-base mt-3 max-w-[480px] mx-auto md:ms-0">Welcome to the best five-star deluxe hotel in Marrakesh city. offering a peaceful and welcoming atmosphere.</p>
            </div>

            <div>
                <h4 class = "inline-block font-gilda tracking-[.04em] text-lg text-white capitalize relative after:absolute after:content-[''] after:left-0 after:-bottom-0 after:h-[1px] after:w-full after:bg-teal pb-1 mb-4">quick link</h4>
                <ul>
                    <li class = "my-2">
                        <a asp-controller="Home" asp-action="Index" class = "capitalize font-barlow font-light text-base text-white hover:text-white/50 transition duration-300 ease-in-out">our services</a>
                    </li>
                    <li class = "my-2">
                        <a asp-controller="Home" asp-action="Index" class = "capitalize font-barlow font-light text-base text-white hover:text-white/50 transition duration-300 ease-in-out">booking Form</a>
                    </li>
                    <li class = "my-2">
                        <a asp-controller="Home" asp-action="Index" class = "capitalize font-barlow font-light text-base text-white hover:text-white/50 transition duration-300 ease-in-out">about hotel</a>
                    </li>
                    <li class = "my-2">
                        <a asp-controller="Home" asp-action="Index" class = "capitalize font-barlow font-light text-base text-white hover:text-white/50 transition duration-300 ease-in-out">blogs</a>
                    </li>
                </ul>
            </div>

            <div>
                <h4 class = "inline-block font-gilda tracking-[.04em] text-lg text-white capitalize relative after:absolute after:content-[''] after:left-0 after:-bottom-0 after:h-[1px] after:w-full after:bg-teal pb-1 mb-4">explore</h4>
                <ul>
                    <li class = "my-2">
                        <a href = "#" class = "capitalize font-barlow font-light text-base text-white hover:text-white/50 transition duration-300 ease-in-out">rooms & suites</a>
                    </li>
                    <li class = "my-2">
                        <a href = "#" class = "capitalize font-barlow font-light text-base text-white hover:text-white/50 transition duration-300 ease-in-out">spa & wellness</a>
                    </li>
                    <li class = "my-2">
                        <a href = "#" class = "capitalize font-barlow font-light text-base text-white hover:text-white/50 transition duration-300 ease-in-out">special offers</a>
                    </li>
                    <li class = "my-2">
                        <a href = "#" class = "capitalize font-barlow font-light text-base text-white hover:text-white/50 transition duration-300 ease-in-out">restaurant</a>
                    </li>
                </ul>
            </div>

            <div>
                <h4 class = "inline-block font-gilda tracking-[.04em] text-lg text-white capitalize relative after:absolute after:content-[''] after:left-0 after:-bottom-0 after:h-[1px] after:w-full after:bg-teal pb-1 mb-4">contact</h4>
                <ul>
                    <li class = "my-2 grid grid-cols-[40px_auto] justify-center md:justify-start">
                        <span class = "text-white">
                            <i class = "fas fa-map-marker-alt"></i>
                        </span>
                        <span class = "text-white/50 font-light">40500 Marrakesh,  Morocco</span>
                    </li>
                    <li class = "my-2 grid grid-cols-[40px_auto] justify-center md:justify-start ">
                        <span class = "text-white">
                            <i class = "fas fa-phone"></i>
                        </span>
                        <span class = "text-white/50 font-light">+212 68 512 47 85</span>
                    </li>
                    <li class = "my-2 grid grid-cols-[40px_auto] justify-center md:justify-start">
                        <span class = "text-white">         
                            <i class = "fas fa-envelope"></i>
                        </span>
                        <span class = "text-white/50 font-light">House.Hotel@mail.com</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class = "py-4 text-white font-normal font-barlow uppercase text-center tracking-widest bg-nero-dark">
        <p class = "text-sm">&copy; copyright 2025 by HouseHotel.com</p>
    </div>
</footer>
